@import "ui/styles/variables.sass"

@lost flexbox no-flex

.content
  display: block
  position: relative
  padding: calc($h + $nav-height) $h $h

.left-column,
.right-column
  lost-column: 1/2 2

.left-column
  border-right: 1px solid $gray-lighter
  min-height: 600px

.editor,
.questions
  position: relative
