@import "ui/styles/variables.sass"

.question
  position: relative
  margin-left: -$h
  background: transparent
  transition: background .25s

  .content
    cursor: pointer
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding: calc($h * .5) $h

    .number
      color: $gray

    .title
      font-size: calc($f * 1.25)

  .up,
  .down
    display: block
    position: absolute
    right: $h
    size: $h
    text-align: center
    line-height: $h
    opacity: 0
    background: $gray-light
    border-radius: 50%
    transition: background .25s
    cursor: pointer

    &:hover
      background: $brand-primary
      color: #fff

  .down
    bottom: calc(-$h * .5)

  .up
    top: calc(-$h * .5)

  &:hover
    background: rgba(30,30,30,.05)
    z-index: 2

    .up,
    .down
      opacity: 1

  &:first-of-type
    .up
      display: none

  &:last-of-type
    .down
      display: none


.active
  background: $brand-primary
  color: #fff

  &:hover
    background: $brand-primary

  .up,
  .down
    color: $text-color
