@import "../styles/variables.sass"
@import "../styles/mixins.sass"
@import "../styles/offsets.sass"

@define-mixin createBtn $fontColor $borderColor $bgColor
  border-radius: $border-radius-base
  font-family: $font-family-base
  padding: $v-padding $h-padding
  line-height: $h
  font-size: $f
  border: $btn-border-width solid $borderColor
  border-radius: $border-radius-base
  background-color: $bgColor
  color: $fontColor
  transition: all .2s

  &:hover,
  &:focus
    filter: brightness(105%)
    background-color: $borderColor
    color: #fff
    // border-color: darken($borderColor, $10%)
    // box-shadow: 0 0 0 2px #fff
    outline: 0


.btn-outline
  @mixin createBtn $brand-primary $brand-primary transparent

.btn
  @mixin createBtn #ffffff $brand-primary $brand-primary

.lg
  font-size: calc($f * 1.25)

.sm
  font-size: calc($f * 0.75)

.block
  display: block
  width: 100%
